@import 'tailwindcss';
@import './theme.css';
@import './safelist.css';
@import './base.css' layer(base);
@import './utilities/headings.css';
@import './utilities/content-grid.css';
@import './utilities/fluid-grid.css';
@import './utilities/clickable-area.css';
@import './utilities/carousel.css';
@import './utilities/gradient.css';
@import './components/ce.css' layer(components);
@import './components/rte.css' layer(components);

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	html {
		text-rendering: optimizeSpeed;
		-webkit-font-smoothing: antialiased;
		@variant motion-safe {
			scroll-behavior: smooth;
		}
	}

	body {
		@apply bg-background text-foreground;
		min-height: 100vh;
		min-height: 100dvh;
		display: flex;
		flex-direction: column;
	}

	main {
		flex: 1;
		grid-auto-rows: min-content;
	}
}
