@theme {
	--font-*: initial;
	--font-text: 'Manrope Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-heading: var(--font-text);

	--color-*: initial;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-typo: #111111;
	--color-background: #1b142f;
	--color-foreground: oklch(0.985 0 0);
	--color-primary: #ff0000;
	--color-primary-foreground: #f2ccc5;
	--color-ring: var(--color-primary);

	--radius-*: initial;
	--radius-sm: 5px;
	--radius-md: 10px;
	--radius-lg: 25px;

	--breakpoint-*: initial;
	--breakpoint-sm: 500px;
	--breakpoint-md: 700px;
	--breakpoint-lg: 1000px;
	--breakpoint-xl: 1200px;
	--breakpoint-2xl: 1500px;

	--text-*: initial;
	--text-sm: 0.875rem;
	--text-sm--line-height: 1.4;
	--text-base: 1.125rem;
	--text-base--line-height: 1.4;
	--text-lg: 1.375rem;
	--text-lg--line-height: 1.4;
	--text-xl: 1.875rem;
	--text-xl--line-height: 1.4;
	--text-h5: 1.25rem;
	--text-h5--line-height: 1.1;
	--text-h4: 1.5rem;
	--text-h4--line-height: 1.1;
	--text-h3: 1.875rem;
	--text-h3--line-height: 1.1;
	--text-h2: 3.15rem;
	--text-h2--line-height: 1.1;
	--text-h1: 6rem;
	--text-h1--line-height: 1;

	--default-font-family: --theme(--font-text, initial);
}

:root {
	--nav-height: 90px;

	--ce-spacing-lg: 14rem;
	--ce-spacing-md: 10rem;
	--ce-spacing-sm: 3.5rem;
	--ce-anchor-offset: calc(var(--nav-height, 90px) + 10px);

	--t-ul-offset: 12%;
	--t-ul-thickness: 7.5%;
}
